@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

@keyframes slide{
  from{
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadein {
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root{
  /*main font*/
  --main-font:'Lato', sans-serif;

/*main color*/
  --color-glaucous: #7776bc ;
  --color-periwinkle:#cdc7e5;
  --color-lightyellow:#FFFBDB;
  --color-maize:#FFEC51;
  --color-tomato:#FF674D;

    /*basic color*/
  --color-white: #fff ;
  --color-lightgrey: rgba(210, 210, 210, 0.2) ;

    /*transition */
  --main-transition: 0.3s ease-in-out;

    /*animation fade in*/

  --main-slide: slide 0.6s ease-in;
  --main-slide2: slide 0.7s  ease-in;

  /*animation fade in*/
  --main-fadein: fadein 0.7s  ease-in;

}

/*animation setup */
.animation1{
animation: var(--main-slide);
}

.animation2{
  animation: var(--main-slide2);
}

.fadein{
  animation: var(--main-fadein);
}
 

/*Basic setup*/
*{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--main-font) ;
  color: black;
}

body{
   display: flex;
   width: 100vw;
   height:100vh;
}


main{
  display: flex;
  width: 100%;
  height:100%;
}

/*Left of the page*/

.main-content{
  flex-basis:60%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 6em;
  row-gap: 4em;
}

/*title*/

.main-content_title{
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.main-content_title >h1{
  font-size:1.3em;
}

.main-content_title >a{
  font-size:0.65em;
  text-decoration: none;
  color: var(--color-periwinkle);
 }
 

 .main-content_title >a:hover{
  color: var(--color-maize);
 }

 /*Project name and link*/

 .main-content_project-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  line-height: 5em;
 
 }

 .main-content_project-name >h1{
  font-size: 5em;
 }


 .main-content_project-name >a{
  font-size: 1.2em;
  text-decoration: none;
  color: var(--color-tomato);
  font-weight: 700;
  margin-left: 0.45em;
  transition: var(--main-transition);
 }

 .main-content_project-name >a:hover{
 color: var(--color-glaucous);
 }


 .main-content_project-name >p{
  font-size: 0.8em;
  opacity: 0.6;
  font-weight: 700;
  margin-left: 0.95em;
  margin-top: -3em;
 }




 /*project info*/

.main-content_project-info{
  height: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 1.7em;
  padding-right: 3.7em;
  margin-top: -1.5em;
}

.main-content_project-info> p{
  opacity: 0.5;

}

hr{
  background-color: var(--color-maize);
  border: none;
  height: 3px;
  width: 8em;
}


/*right of the page*/

.main-project_img{
  flex-basis:40%;
  flex-shrink: 2;
  display: flex;
}


.main-project_img > a{
  width: 100%;
  height:100%;
  transition:var(--main-transition);
  display: flex;
  justify-content: center;
}

.main-project_img > a:hover{
  opacity: 0.5;
  transition:var(--main-transition);
}


.main-project_img > a>img{
  width: 100%;
  height:100%;
  object-fit: cover;
}



/*Btn*/

.btn{
  position: fixed;
  width: 4em;
  height: 4em;
  border: none;
  border-radius: 100%;
  background-color: var(--color-lightgrey);
  transition: var(--main-transition);
  z-index: 2;
}

.btn.up{
  left: 2em;
  top:17vw;
}

.btn.down{
left: 2em;
bottom:23vw;
}

/*transition for buttons*/

.fa-solid:hover{
  color: var(--color-white) !important;
  pointer-events: auto
}

.btn.up:hover{
  top:16vw;
  background-color: var(--color-glaucous);
  pointer-events: none;
}

.btn.down:hover{
  pointer-events: none;
  background-color: var(--color-maize);
  bottom:22vw;
}


/*media queries for devices tablet or mobile phone */ 
@media screen and (max-width :1000px){
  
  main{
    flex-direction: column;
  }
  .main-content{
    padding: 5em;
  }
  .main-content_project-info{
    padding-right: 0em;
  }
}


/*Only mobile phone*/
@media screen and (max-width:480px) {
  .main-content{
    padding: 2.5em;
  }
  .main-content_project-name >h1{
    font-size: 3.8em;
   }
   .main-content_project-info{
 
    margin-top: -3em;
    font-size: 0.8em;
  }
 
  
}

