@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap');


:root{
  --color-lightcyan: hsl(193, 38%, 86%);
  --color-neongreen: hsl(150, 100%, 66%);
  
  --color-grayishblue: hsl(217, 19%, 38%);
  --color-darkgrayishblue: hsl(217, 19%, 24%);
  --color-darkblue: hsl(218, 23%, 16%);
  --main-transition : ease .4s;

  --main-animation : fade ease-in .5s ;
}

@keyframes fade {

  0%{
    opacity: 0;
    margin-left: 1em;
  }
  
  100%{
  opacity: 1;
  }
}



html,
body{
  height: 100%;
  background-color: var(--color-darkblue);
}

*{
  font-family: 'Manrope', sans-serif;

}

.box{
  background-color: var(--color-darkgrayishblue);
}

p{
  color: var(--color-neongreen);
  letter-spacing: .5em;
  font-size: .7em;
}

h2{
  color: var(--color-lightcyan);
  font-weight: 600;
}

button{
  border: none;
}
.round{
  background-color: var(--color-neongreen);
  border-radius: 100%;
  width: fit-content;
  transition: var(--main-transition);
  cursor: pointer;
}

button:hover{
  box-shadow: 0 0 10px var(--color-neongreen);
}


/*animation*/


.animation{
  animation: var(--main-animation);
}
/*footer*/

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 8px; 
  text-align: center; 
}

.attribution > a { 

  font-size: 1.2em;
 }