
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;0,700;0,800;1,500&display=swap');

:root{

/*Summary colors*/
--color-lightred: hsl(0, 100%, 67%);
--color-lightredblur: hsla(0, 100%, 67%,0.1);

--color-orangeyellow: hsl(39, 100%, 56%);
--color-orangeyellowblur: hsla(39, 100%, 56%,0.1);

--color-greenteal: hsl(166, 100%, 37%);
--color-greentealblur: hsla(166, 100%, 37%,0.1);

--color-cobaltblue: hsl(234, 85%, 45%);
--color-cobaltblueblur: hsla(234, 85%, 45% , 0.1);

/* Gradients*/

--color-lightslateblue: #7857ff;
--color-lightslateblueblur: rgba(120, 87, 255, 0.25);
--color-lightroyalblue : #2e2be9;
--color-violetblue: #4e21ca;
--color-persianblue: #2421ca;
--color-gradient1 : linear-gradient(0deg, rgba(46,43,233,1) 0%, rgba(120,87,255,1) 100%);

/*Neutral*/

--color-white: hsl(0, 0%, 100%);
--color-paleblue: hsl(221, 100%, 96%);
--color-lightlavender: hsl(241, 100%, 89%);
--color-darkgrayblue: hsl(224, 30%, 27%);
--main-font:'Hanken Grotesk', sans-serif;

}

/*Setup*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: var(--main-font);
}


body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Main content*/

.container{
  max-width: 45vw;
  height: fit-content;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0 0 20px var(--color-lightslateblueblur);
  display: flex;
  overflow: hidden;
}

.container-content{
  width: 100%;
  height: 100%;
  display: flex;
}



/*Result*/

.container_result{
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  background:var(--color-gradient1); 
  border-radius: 0 0  30px 30px ;
  color: var(--color-white);
  padding:1.8em;
  width: 50%;
}

.container_result-text ,.container_result-round-content,.container_result-round, .container_result-info{
  display: flex;
  justify-content: center;
}

.container_result-text > p{
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 700;
  font-size: 1.2em;
}

.container_result-round{
  align-items: center;
}

.container_result-round-content{
  width: 10em;
  height: 10em;
  border-radius: 100%;
  background:var(--color-gradient2);
  box-shadow: inset 0 100px 90px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  align-items: center;
}
 
.container_result-round-content >h1{
 font-size: 3em;
}

.container_result-round-content >p{
  font-size: 0.85em;
  font-weight: 300;
  opacity: 0.7;
}

.container_result-info{
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1em;
}
 
.container_result-info > h1{
 font-size: 1.6em;
 margin-bottom: .4em;
}

 
.container_result-info > p{
  font-size:.8em;
  opacity: 0.7;
}
 



/*Summary*/

.container_summary{
  display: flex;
  width: 50%;
  height:100%;
  flex-direction: column;
  row-gap: 2em;
  padding: 1.8em ;
}

.container_summary-title > h1{
  color: var(--color-darkgrayblur);
  font-size: 1.2em;
}

.container_summary-info{
  display:flex;
}

.container_summary-info-list{
  display: flex;
  flex-direction: column;
  row-gap: .8em;
  width:100%;
  margin-top: -.8em;
}

.container_summary-info-list > li{
  height: 3.2em;
  display: grid;
  grid-template-columns:  0.2fr 1fr 0.4fr;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
} 

.container_summary-info-list > li:hover{
  width:18em;
  height: 56px;
}


.reaction{
  background-color: var(--color-lightredblur);
} 
.memory{
  background-color: var(--color-orangeyellowblur);
} 
.verbal{
  background-color: var(--color-greentealblur);
} 
.visual {
  background-color: var(--color-cobaltblueblur);
} 

.reaction > p:first-of-type{
  color :var(--color-lightred);
} 
.memory > p:first-of-type{
  color: var(--color-orangeyellow);
} 
 .verbal > p:first-of-type{
  color: var(--color-greenteal);
} 
 .visual > p:first-of-type{
  color: var(--color-cobaltblue);
} 


li >p:last-of-type {
  opacity: 0.7;
}

.container_summary-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_summary-btn >button{
  width:20em;
  height: 3em;
  border: none;
  border-radius: 30px;
  color: var(--color-white);
  font-weight: 700;
  background-color: var(--color-darkgrayblue);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.container_summary-btn >button:hover{
  background-color: var(--color-lightlavender);
}


/*footer*/

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 8px; 
  text-align: center; 

}
.attribution > a { 
  color: hsl(228, 45%, 44%);
  font-size: 1.2em;
 }


/*Media queries*/

@media screen and (max-width:1024px) {

  .container{
    max-width: 100vw;
    overflow: scroll;
}

  .container-content{
  display:flex;
 flex-direction: column;
}
  .container_result{
    grid-template-rows: 3.3em 10em 10em;
    margin-bottom: -1em;
    width: 100%;
    height: 50%;
}

  .container_result-round-content >h1{
  font-size: 3.5em;
  margin-bottom: -.05em;
}
  
  
  .container_result-round-content >p{
   font-size: 0.85em;
}
  
  .container_summary{
   row-gap: .9em;
   width: 100%;
   height: 50%;
   padding: 2em;
}
  .container_summary-title > h1{
   font-size: 1.2em;
   margin-bottom: 1em;
}
  
 .container_summary-info-list{
    height: 100%;
}

   .container_summary-info-list > li{
  width:100%;
  height: 3em;
} 

   .container_summary-info-list >li > p{
  font-size: .9em;
} 
   .container_summary-info-list >li > img{
  width: 1.2em;

} 

   .container_summary-btn >button{
  width:80%;
  height: 3em;
}
    
}


