<!-- Desktop Parent div -->
<div class="relative rounded-lg lg:block hidden h-full ">
  <!--Background image-->
  <img class="absolute -z-10 h-full " src="../assets/images/bg-sidebar-desktop.svg" alt="bg-image">
  
    <!--Steps list-->
   <div class="h-full z-30 py-4">

      <!--list of step-->

        
        <!--for every step in the step lists-->
        <app-step-info-list></app-step-info-list>
   </div>
</div>

<!-- Tablet and Mobile design  -->
<div class="fixed top-0 left-0 right-0 h-1/4 lg:hidden overflow-hidden ">  
    <!--Background image-->
  <img  class="absolute w-full -z-40" src="../assets/images/bg-sidebar-mobile.svg" alt="bg-mobile-image">
   
    <!--Steps horizontal list-->
  <div class="w-full h-full flex justify-center">
    
      <div class="flex  w-[80%] justify-evenly items-center ">

      <!--list of step-->

             <!--for every step in the step lists-->
           <app-step-info-list></app-step-info-list>
    
      </div>

    </div>
</div>