
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* Animation for mobile phone */
@keyframes slideLeft {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}


/* Animation for desktop phone */
@keyframes slideTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Keyframes for pointer animation */
@keyframes pointer {
  from {
    top: 1em;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





:root{

    /*theme color*/
  --color-veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --color-desaturatedDarkBlue: hsl(214, 17%, 51%);
  --color-grayishBlue: rgb(158, 175, 194);
  --color-grayishBlueBlur: rgba(158, 175, 194, .4);
  --color-lightGrayishBlue: hsl(210, 46%, 95%);

  /*Basic color*/
  --color-white : #fff;

  /*Main color*/
  --main-font:'Manrope', sans-serif;

  /*animation*/
  --animation-phone: slideLeft .3s ease-out normal;
  --animation-desktop: slideTop 0.3s ease-out normal;
  --animation-pointer: pointer 0.8s ease ;

  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: var(--main-font);
  }

  p{
    font-size: 15px
  }

  body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lightGrayishBlue);
  }




/*main content*/

.container{
  background-color: var(--color-white);
  display: flex;
  height: fit-content;
  width: 55vw;
  border-radius:10px;
  box-shadow: 0 10px 20px var(--color-grayishBlueBlur);
}

/*Image container*/
.container_img{
  width: 50%;
  display: flex;
}

.container_img >img{
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: cover; 
  border-radius: 10px 0 0 10px;
}


/*main information / article */

.container_content{
  height: 100%;
  width: 80%;
  display: flex;
  padding: 2em;
}

.container_content-info{
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  gap:1em;
}

/*title of the article*/
.container_content-info-title >h1{
  font-size: 1.47em;
  color: var(--color-veryDarkGrayishBlue)
}

/*description of the article*/
.container_content-info-desc >p{
  color: var(--color-desaturatedDarkBlue)
}


/*Author row*/
.container_content-info-author{
  display: grid;
  grid-template-columns:50px 1fr 50px;
  height: 100%;
  width: 100%;
  column-gap: 1.3em;

}

.container_content-info-author-img{
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_content-info-author-img > img{
  height: 3em;
  width: 3em;
  border-radius: 100%;
  object-fit: cover;
}

.container_content-info-author-name{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5em;
}

.container_content-info-author-name >p:first-of-type{
  font-weight: 700;
}

.container_content-info-author-name >p:last-of-type{
  color: var(--color-grayishBlue);
}


/*button and social media*/
.container_content-info-author-btn{
  position: relative;
  height: fit-content;
}

.container_content-info-author-share{
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: none;
  position: relative;
  background-color: var(--color-lightGrayishBlue);
  cursor: pointer;
}

.container_content-info-author-share >img{
  height: 1em;
  width: 1em;
}

.container_content-info-author-share:active{
  background-color: var(--color-desaturatedDarkBlue);
}
  
.container_content-info-author-share >img:active{
 pointer-events: none;
 filter: brightness(0) invert(1) !important;
}

.container_content-info-author-social{
  display: none;
  justify-content: space-around;
  padding: 1.2em;
  align-items: center;
  width: 15em;
  height: 3.4em;
  position: absolute;
  top: -5.5em;
  left: -6.5em;
  background-color: var(--color-veryDarkGrayishBlue); 
  border-radius: .45em;
  box-shadow: 0 5px 15px var(--color-desaturatedDarkBlue);
}

.container_content-info-author-social> img:hover{
  cursor: pointer;
  filter: invert(20%) sepia(15%) saturate(369%) hue-rotate(171deg) brightness(97%) contrast(90%);
}

.container_content-info-author-social > :not(div){
  z-index: 1;
}


.show-links{
   display: flex;
   animation: var(--animation-desktop);
}


.container_content-info-author-social > p{
  color: var(--color-desaturatedDarkBlue);
  letter-spacing: .4em;
  text-transform: uppercase;
}

.pointer{
  width: 1.3em;
  height: 1.3em;
  position: absolute;
  top: 2.7em;
  background-color: var(--color-veryDarkGrayishBlue); 
  transform: rotate(48deg);
   z-index: 0;
  animation: var(--animation-pointer);
}

/*FOOTER*/
.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 8px; 
  text-align: center; 
}

.attribution > a { 
  color: hsl(228, 45%, 44%);
  font-size: 1.2em;
 }


 @media screen and (max-width : 1000px) {

  .container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 55vw;
  }

  .container_img{
    height: 30%;
    width: 100%;   
  }
  .container_img >img{
    border-radius: 10px 10px 0 0;
  }
  
  
  .container_content{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2em;
  }

  .container_content-info-title >h1{
    font-size: 1em;
  }

  .container_content-info-desc >p{
    font-size: .9em;
  }
  
  
  .container_content-info-author{
    display: grid;
    grid-template-columns:40px 1fr 20px;
    height: 20%;
    width: 100%;
  }


 }

 @media screen and (max-width :468px) {
  .container{
    width: 90vw;
  }

  .container_content-info-author{
    margin-top: 1em;
  }
  
    
  .pointer{
    display: none;
  }

 }