
<div class="flex flex-col gap-3 relative h-full">
  <!--Title-->
  <app-step-title [title]="title"></app-step-title>

 <!-- container-->
  <div>

    <div class="flex flex-col gap-2 lg:gap-3 h-full w-full">

      <!--Online service --> 
        <div [ngClass]="{'bg-purplish': checkList.includes('first-service')}" data-name="first-service" class="ons__card bg-opacity-5 cursor-pointer border border-opacity-20 hover:border-purple-900 rounded-md hover:bg-purple-50 transition-all  h-12">
          <div class="grid grid-cols-5">

            <div class="flex p-2 col-span-1 justify-center">
              <input (click)="addOns($event)"  type="checkbox" name="first-service" id="first-service"  class="accent-purplish">
            </div>

                <!--title and description-->
                <div class="plan__title col-span-3 flex flex-col p-2 lg:justify-normal justify-center">
                  <p class="text-[.6em] ">Online service</p>
                  <p class="text-[.57em] opacity-30">Access to multiplayer games</p>
                </div>

            <!--price + -->
            <div class="flex justify-center items-center">
              <p class="text-purplish text-[.6em]">+${{typeOfBilling? servicesList['first-service'].price *10 : servicesList['first-service'].price }}/{{typeOfBilling ? "yr" : "mo"}}</p>
            </div>


          </div>
        </div>


        <!--Larger Storage --> 
        <div [ngClass]="{'bg-purplish': checkList.includes('second-service')}" data-name="second-service"  class="ons__card bg-opacity-5 cursor-pointer border border-opacity-20 hover:border-purple-900 rounded-md hover:bg-purple-50 transition-all  h-12">
          <div class="grid grid-cols-5 ">
  
             <!--checkbox icon-->
             <div class="flex p-2 col-span-1 justify-center">
              <input (click)="addOns($event)"   type="checkbox" name="second-service" id="second-service"  class="accent-purplish">
            </div>

             <!--title and description-->
             <div class="plan__title col-span-3 flex flex-col p-2  lg:justify-normal justify-center">
              <p class="text-[.6em] ">Larger Storage</p>
              <p class="text-[.57em] opacity-30">Extre 1TB of cloud save</p>
            </div>

              <!--price + -->
            <div class="flex justify-center items-center">
              <p class="text-purplish text-[.6em]">+${{typeOfBilling? servicesList['second-service'].price *10 : servicesList['second-service'].price }}/{{typeOfBilling ? "yr" : "mo"}}</p>
            </div>


          </div>

        </div>


         <!--Customizable Profile [ngClass]="{'bg-purplish':  , 'border-purplish' :}"--> 
         <div [ngClass]="{'bg-purplish': checkList.includes('third-service')}" data-name="third-service"  class="ons__card bg-opacity-5 cursor-pointer border border-opacity-20 hover:border-purple-900 rounded-md hover:bg-purple-50 transition-all  h-12">
          <div class="grid grid-cols-5 ">

             <!--checkbox icon-->
            <!--image icon-->
            <div class="flex p-2 col-span-1 justify-center">
              <input (click)="addOns($event)"  type="checkbox" name="third-service" id="third-service" class="accent-purplish">
            </div>

             <!--title and description-->
             <div class="plan__title col-span-3 flex flex-col p-2  justify-center">
              <p class="text-[.6em] ">Customizable Profile</p>
              <p class="text-[.57em] opacity-30">Custom theme on your profile</p>
            </div>

             <!--price + -->
            <div class="flex justify-center items-center">
              <p class="text-purplish text-[.6em]">+${{typeOfBilling? servicesList['third-service'].price *10 : servicesList['third-service'].price }}/{{typeOfBilling ? "yr" : "mo"}}</p>
            </div>


          </div>

        </div>

    </div>
    
  </div>
   
</div>

