
  <!--button bar-->
<div [ngClass]="{'hidden':currStep === 5 }" class="flex items-end w-full h-full  lg:gap-52 lg:justify-end justify-between ">

    <div [ngClass]="{'invisible':currStep == 1 }">
         <button (click)="onBackClick()" class="text-[.5em] text-gray-400">Go back</button> <!--visible only if the current step isnt one-->
    </div>
    

    <div>
        <input (click)="onNextClick()" [ngClass]="{'hidden':currStep == 4 }"type="button" value="Next Step" class="text-[.5em] bg-blue-950 text-white px-2 py-1.5 rounded-md">
        <input (click)="navigateToFinal()" [ngClass]="{'hidden':currStep !== 4 }" type="button" value="Confirm" class="text-[.5em] bg-purplish text-white px-2 py-1.5 rounded-md">
    </div>

</div>

