/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Unbutu medium font*/
@font-face {
  font-family: ubuntuMedium;
  src: url(../public/assets/fonts/Ubuntu-Medium.ttf);
}

/*Unbutu bold font*/
@font-face {
  font-family: ubuntuBold;
  src: url(../public/assets/fonts/Ubuntu-Bold.ttf);
}

/*Unbutun regular font*/
@font-face {
  font-family: ubuntuRegular;
  src: url(../public/assets/fonts/Ubuntu-Regular.ttf);
}


/*
STYLE COLOR REQUIRED
- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)
*/

$pastille-color : hsl(206, 94%, 87%);
$bg-color :   hsl(231, 100%, 99%);
$text-and-btn-color : hsl(243, 100%, 62%) ;
$red: hsl(354, 84%, 57%);

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntuRegular;
}

html , body{
  width: 100%;
  height: 100%;
  background-color: $bg-color;
}

