
<div class="flex flex-col gap-3">
  <!--Title-->
  <app-step-title [title]="title"></app-step-title>

 <!--form container-->
  <div>
      <!--form-->
    <form class="flex flex-col justify-between gap-10">

      <div>

        <div >
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="e.g Stephen King" required>
        </div>

        <div>
          <label for="email">Email Adress</label>
          <input type="email" name="email" id="email" placeholder="e.g stephenking@lorem.com" required>
        </div>
        
        <div>
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" id="phone" placeholder="e.g +1 234 567 890" required>
        </div>

      </div>

    </form>

  </div>

</div>

